:root {

    /* Colors */

    /* Primary */

    --moderate-violet: hsl(263, 55%, 52%);
    --moderate-violet2: hsl(263, 55%, 60%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.container {
    max-width: 144rem;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 2rem;
    margin: 0 auto;
    background-color: var(--light-grayish-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    max-width: 111rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    grid-gap: 3rem;
}

.user {
    padding: 2rem 3rem;
    border: none;
    border-radius: .5rem;
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, .2);
    font-weight: 600;
}

.user:nth-child(1){
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 80% top;
}

.profile {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.profile img {
    border: .2rem solid transparent;
    border-radius: 50%;
    width: 3.2rem;
}

.user:nth-child(1) .profile img {
    border-color: var(--moderate-violet2);
}

.user:nth-child(4) .profile img {
    border-color: var(--moderate-violet);
}

.user:nth-child(1),
.user:nth-child(2),
.user:nth-child(4) {
    color: var(--white);
}

.user:nth-child(3),
.user:nth-child(5) {
    color: var(--very-dark-blackish-blue);
}

.user h3 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.user p {
    opacity: 70%;
}

.profile-text {
    font-weight: 500;
}

.profile-text h5 {
    font-weight: 500;
    font-size: 1.5rem;
}

.profile-text p {
    font-size: 1.3rem;
    opacity: 50%;
}



.user:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;

    background-color: var(--moderate-violet);
}

.user:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;

    background-color: var(--very-dark-grayish-blue);
}

.user:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;

    background-color: var(--white);
}

.user:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;

    background-color: var(--very-dark-blackish-blue);
}

.user:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3;

    background-color: var(--white);
}


@media only screen and (max-width: 720px) {
    .container {
        max-width: 37.5rem;
    }
    
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,auto);
    }

    .user:nth-child(1){
        
        background-position: 95% top;
    }

    .user:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .user:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .user:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .user:nth-child(4) {
        grid-column: 1/2;
        grid-row: 4/5;

    }

    .user:nth-child(5) {
        grid-column: 1/2;
        grid-row: 5/6;
    }

}